
<mat-toolbar color="warn">Targets</mat-toolbar>
<mat-card>
    <form (submit)="calculate(postForm)" #postForm="ngForm">
        Calories Consumeed Today: 
        <mat-form-field>
            <input
            matInput
            type="text"
            name="calories"
            ngModel
            required
            minlength="3"
            #calories="ngModel">
            <mat-error *ngIf="calories.invalid">Please enter calories consumed here</mat-error>
        </mat-form-field><br/>
        
        <button
        mat-raised-button
        color="accent"
        type="submit" (click)="DropdownVar=2">Submit</button>
    </form><br>

    <!-- display calculations-->
    <div *ngIf="DropdownVar === 2">
        <p>To burn the calories you have consummed you could do: </p>
        <p> {{ minWalk }} Mins Walking</p>
        <p> {{ minRun }} Mins Running</p>
        <p> {{ minSwim }} Mins Swimming</p>
        <p> {{ minCycle }} Mins Cycling</p>
        <p> {{ minSauna }} Mins in the Sauna</p>
    </div>

</mat-card> 