
<mat-toolbar color="warn">Targets</mat-toolbar>
<!--<mat-card>
<form (submit)="onAddPost(postForm)" #postForm="ngForm">
  Calories Consumed Today: 
  <mat-form-field>
      <input
      matInput
      type="text"
      name="calories"
      ngModel
      required
      minlength="3"
      #name="ngModel">
    <mat-error *ngIf="calories.invalid">Please enter calories consumed here</mat-error>
  </mat-form-field><br/>
</form>
</mat-card>-->

<mat-card>
    <form (submit)="calculate(postForm)" #postForm="ngForm">
        Calories Consumeed Today: 
        <mat-form-field>
            <input
            matInput
            type="text"
            name="calories"
            ngModel
            required
            minlength="3"
            #calories="ngModel">
            <mat-error *ngIf="calories.invalid">Please enter calories consumed here</mat-error>
        </mat-form-field><br/>
        
        <button
        mat-raised-button
        color="accent"
        type="submit">Submit</button>
    </form>
</mat-card> 