
<!--
<mat-toolbar color="primary"> 
  <mat-toolbar-row>
          <span class="title-center">
      My single page application
  </span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>

<button mat-button [routerLink]="['/create']" color="Warn">Create</button>
<button mat-button [routerLink]="['/list']">List</button>
</mat-toolbar-row>
</mat-toolbar>-->

<mat-toolbar color="warn"> 
  <mat-toolbar-row>
    <span class="title-center">
      Personal Health
    </span>
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/targets']" color="">Targets</button>
    <button mat-button [routerLink]="['/image']" color="">Progress</button>
    <button mat-button [routerLink]="['/userD']" color="">User</button>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<div *ngIf="router.url === '/'">
  <app-user-page></app-user-page>
</div>