
<!-- <ul>
  <li *ngFor="let p of posts">
      
     <p>{{p.title}}</p>
     <p>{{p.content}}</p>
     <p><button>Edit</button><button>Delete</button></p>
</ul>  

<button
        
        
        type="submit">Get Started</button>-->  

<mat-card>
    <!-- shows/hides "Get Stared" Button -->
    <div class="dropdown-content" *ngIf="this.startedVisible" (click)="this.startedVisible = false">
        <button mat-raised-button class="dropdown-header" color="accent" (click)="DropdownVar=2">Get Started</button> 
    </div>
    <!-- shows/hides form when "Get Started" is clicked -->
    <div *ngIf="DropdownVar === 2" class="dropdown-content">
        <!-- shows/hides form when submit is clicked -->
        <div  *ngIf="this.formVisible">
            <form (submit)="onAddPost(postForm)" #postForm="ngForm">
                Your First Name: 
                <mat-form-field>
                    <input
                    matInput
                    type="text"
                    name="name"
                    ngModel
                    required
                    minlength="3"
                    #name="ngModel">
                    <mat-error *ngIf="name.invalid">Please enter first name here</mat-error>
                </mat-form-field><br/>
                Your Weight(in kg): 
                <mat-form-field>
                    <input
                    matInput
                    type="text"
                    name="weight"
                    ngModel
                    required
                    minlength="3"
                    #weight="ngModel">
                    <mat-error *ngIf="weight.invalid">Please enter your weight here</mat-error>
                </mat-form-field><br/>
                Your Height(in meters): 
                <mat-form-field>
                    <input
                    matInput
                    name="height"
                    ngModel
                    required
                    #height="ngModel">
                    <mat-error *ngIf="height.invalid">Please enter your height here</mat-error>
                </mat-form-field><br/>
                <!-- if clicked makes form disapear -->
                    <button
                    mat-raised-button
                    color="accent"
                    type="submit">Submit</button>
            </form>
        </div>
    </div>   

</mat-card> 